<p> Уважаемый/ая {{patient}}, ваш визит к доктору {{doctor}}
забронирован на {{date}}.
В случае отмены, пожалуйста, свяжитесь с нами по телефону <u>+899-999-999</u>,
или отмените ваш визит самостоятельно через портал.</p>
<p>С уважением, администратор Наталья</p>
