.consultative-report {
  border: 1px solid black;
  max-width: 954px;
  height: auto;
  margin: auto;
  margin-top: 100px;
  padding: 50px;
}

.close {
  width: 40px;
  float: right;
  cursor: pointer;
}

.header {
  padding: 20px 90px 0 90px;
}
.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header-title-medical {
  margin: 0 5px 0 0;
  font-family: "Inter";
  font-weight: 700;
  color: #8095bd;
  font-size: 32px;
}
.header-title-online {
  background-color: #8095bd;
  color: #ffffff;
  border-radius: 9px;
  padding: 0 10px 0 10px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 32px;
}

.consult-title {
  margin: 10px 0;
  text-align: center;
}

.consult-date-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.consult-date-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consult-date-input,
.consult-time-input,
.patient-name-input,
.patient-birthday-input,
.patient-survey-input,
.patient-diagnosis-input,
.patient-therapy-input {
  border: 3px solid #8095bd;
  border-radius: 10px;
  margin: 5px 0;
  color: #8095bd;
}

.consult-date-input,
.consult-time-input {
  display: block;
  width: 185px;
  height: 33px;
  text-align: center;
  padding-top: 5px;
  color: black;
}

.content {
  padding: 0 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.patient-list {
  list-style-type: none;
  width: 99%;
}

.patient-item {
  padding: 10px 0;
}
.patient-item-birthday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.patient-name-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 33px;
  font-size: 15px;
  padding: 3px;
}

.patient-birthday-input {
  width: 185px;
  height: 33px;
  padding-top: 5px;
  text-align: center;
  font-size: 15px;
}

.patient-survey-input,
.patient-diagnosis-input,
.patient-therapy-input {
  width: 100%;
  height: 90px;
  padding: 5px;
}

.report-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.report-btn-print, .report-btn-save {
  width: 217px;
  height: 58px;
  background-color: #3d537c;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-size: 16px;
}

.error_text {
  color: red;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: none;
}

.error {
  border-color: red;
}

@media (max-width: 970px) {
  .consultative-report {
    width: 80%;
    margin-top: 65px;
  }
  .header {
    padding: 20px 70px 0 70px;
  }
  .content {
    padding: 0 70px;
  }
}
@media (max-width: 750px) {
  .consultative-report {
    width: 90%;
    margin-top: 30px;
  }
  .header {
    padding: 10px 50px 0 50px;
  }
  .content {
    padding: 0 50px;
  }
}
@media (max-width: 560px) {
  .consult-date-list {
    text-align: center;
  }
  .report-btn-save {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 390px) {
  .header {
    padding: 10px 10px 0 10px;
  }
  .content {
    padding: 0 10px;
  }
}/*# sourceMappingURL=opinionForm.module.css.map */