.consultative-report {
  border: 1px solid black;
  max-width: 954px;
  height: auto;
  margin: auto;
  margin-top: 100px;
  padding-bottom: 100px;
}

.close {
  width: 40px;
  float: right;
  cursor: pointer;
}

.header {
  padding: 30px 100px 20px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-title-medical {
  margin: 0 5px 0 0;
  font-family: "Inter";
  font-weight: 700;
  color: #8095bd;
  font-size: 32px;
}

.header-title-online {
  background-color: #8095bd;
  color: #ffffff;
  border-radius: 9px;
  padding: 0 10px 0 10px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 32px;
}

.consult-title {
  padding-bottom: 20px;
  text-align: end;
}

.consult-date-list {
  list-style-type: none;
  text-align: end;
}

.consult-date-item {
  padding-bottom: 10px;
}

.content {
  padding: 0 100px;
}

.patient-list {
  list-style-type: none;
}

.patient-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.patient-text-name,
.patient-text-birthday,
.patient-text-survey,
.patient-text-diagnosis,
.patient-text-therapy {
  font-weight: 800;
  font-family: sans-serif;
  display: inline-block;
}

.patient-text-name-field,
.patient-text-birthday-field {
  display: inline-block;
  font-weight: 400;
  margin-bottom: 20px;
  padding-left: 20px;
  white-space: pre-line;
}

.patient-text-diagnosis-field,
.patient-text-survey-field,
.patient-text-therapy-field {
  display: inline-block;
  font-weight: 400;
  margin: 20px 0;
  padding-left: 20px;
  white-space: pre-line;
}

.doctor-info {
  margin: 60px 0;
  color: #8095bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.doctor-info-list {
  list-style-type: none;
  text-align: end;
  margin-top: 70px;
}
.doctor-info-text-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.report-btn-print {
  width: 217px;
  height: 58px;
  background-color: #3d537c;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  float: right;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.not-found img {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill;
}

@media (max-width: 970px) {
  .consultative-report {
    width: 80%;
    margin-top: 70px;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 70px 20px 70px;
  }
  .content {
    padding: 0 70px;
  }
  .consult-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    margin-top: 20px;
  }
  .patient-text-name-field,
  .patient-text-birthday-field,
  .patient-text-diagnosis-field,
  .patient-text-survey-field {
    margin: 10px 0;
  }
  .doctor-info {
    margin-top: 50px;
  }
}
@media (max-width: 750px) {
  .consultative-report {
    width: 85%;
    margin-top: 50px;
  }
  .consult-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }
  .doctor-info {
    margin-top: 20px;
  }
  .header {
    padding: 20px 50px 10px 50px;
  }
  .content {
    padding: 0 50px;
  }
  .consult-date-list {
    text-align: center;
  }
  .consult-title {
    text-align: center;
  }
}
@media (max-width: 390px) {
  .consultative-report {
    width: 90%;
    margin-top: 20px;
  }
  .consult-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }
  .doctor-info {
    margin-top: 20px;
  }
  .header {
    padding: 20px 30px 10px 30px;
  }
  .content {
    padding: 0 30px;
  }
}
@media all {
  .page-break {
    display: none;
  }
}
@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}
@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
}
@page {
  size: auto;
  margin: 10mm;
}/*# sourceMappingURL=opinionDoc.module.css.map */