.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 24px;
          box-shadow: 24px;
  padding: 30px 60px;
  max-height: 95vh;
  overflow-x: auto;
  width: 100%;
  max-width: 50%;
}
@media (max-width: 1024px) {
  .modal {
    max-width: 80%;
  }
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 16px;
}

.consult-title {
  color: #8095bd;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
}

.consult-date-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #8095bd;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
}

.consult-date-text {
  color: #8095bd;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
}

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-title-medical {
  margin: 0 5px 0 0;
  font-family: "Inter";
  font-weight: 700;
  color: #8095bd;
  font-size: 32px;
}

ul li {
  list-style: none;
}

.header-title-online {
  background-color: #8095bd;
  color: #ffffff;
  border-radius: 9px;
  padding: 0 10px 0 10px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 32px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
}
.wrapper-disease, .wrapper-treatment {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 0;
}
.wrapper-doctor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.fio,
.complaint,
.treatment,
.disease {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
.fio-title,
.complaint-title,
.treatment-title,
.disease-title {
  font-weight: 700;
  color: #8095bd;
}
.fio-text,
.complaint-text,
.treatment-text,
.disease-text {
  font-weight: 500;
  color: #8095bd;
}

.doctor-title, .doctor-fio, .doctor-spec {
  font-weight: 700;
  color: #8095bd;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.report-btn-print {
  padding: 0 30px;
  line-height: 40px;
  background-color: #3d537c;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  float: right;
  margin-top: 16px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
}

@media print {
  html,
  body {
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
  }
  .modal {
    max-width: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .modal button {
    display: none;
  }
  .modal .consult-title,
  .modal .consult-date-list,
  .modal .consult-date-text {
    color: rgba(0, 0, 0, 0.8);
  }
  .modal .header-title-online {
    color: #ffffff;
  }
  .modal .fio,
  .modal .complaint,
  .modal .treatment,
  .modal .disease {
    font-family: Inter;
    font-size: 14px;
  }
  .modal .fio-title,
  .modal .complaint-title,
  .modal .treatment-title,
  .modal .disease-title {
    color: rgba(0, 0, 0, 0.8);
  }
  .modal .fio-text,
  .modal .complaint-text,
  .modal .treatment-text,
  .modal .disease-text {
    color: rgba(0, 0, 0, 0.8);
  }
  .modal .doctor-title, .modal .doctor-fio, .modal .doctor-spec {
    color: rgba(0, 0, 0, 0.8);
  }
}/*# sourceMappingURL=modal.module.css.map */