@font-face {
  font-family: 'Inter';
  src: local('Inter'),
    url('../../../assets/fonts/Inter-Regular.woff2') format('woff2'),
    url('../../../assets/fonts/Inter-Regular.woff') format('woff'),
    url('../../../assets/fonts/Inter-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

h1 {
  font-family: 'Inter';
  font-weight: 700;
  color: #8095bd;
  font-size: 42px;
}

h2 {
  font-family: 'Inter';
  font-weight: 700;
  color: #8095bd;
  font-size: 40px;
}

h3 {
  font-family: 'Inter';
  font-weight: 700;
  color: #8095bd;
  font-size: 24px;
}

p {
  font-family: Inter;
  font-weight: 300;
  color: #3d537c;
  font-size: 12px;
}

.content {
  max-width: 1345px;
  margin: 0 auto;
}

.content-top {
  display: flex;
  flex-direction: row;
  // justify-content: space-around;
  margin-bottom: 100px;
  margin-left: 70px;
}

.content-top-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content-top-title {
  width: 350px;
  color: #3d537c;
}

.content-top-text {
  width: 300px;
}

.content-top-img {
  width: 920px;
}

.content-top-button-wrap {
  display: block;
}

.autirization-btn {
  position: absolute;
  z-index: 1;
  border: none;
  border-radius: 10px 40px 40px 10px;
  background-color: #e3ecfc;
  color: #3d537c;
  font-weight: 600;
  font-size: 14px;
  width: 160px;
  line-height: 58px;
  text-align: center;
}

.registration-btn {
  border: none;
  border-radius: 10px;
  background-color: #8095bd;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  text-align: right;
  padding: 0 10px 0 0;
  width: 345px;
  height: 58px;
  margin: 0 0 50px 0;
}

.entry-btn {
  border: none;
  border-radius: 10px;
  background-color: #8095bd;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  width: 345px;
  height: 58px;
}

.content-bottom {
  margin: 0 0 100px 0;
}

.content-menu-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-menu-text {
  margin: 0 0 15px 0;
}

@media (max-width: 960px) {
  .content-top-img {
    display: none;
  }

  .content-top {
    justify-content: center;
    background-color: rgba(256, 256, 256, 0.75);
    margin-bottom: 81px;
    margin-left: 0;
  }

  .content-opasity {
    background-image: url('../../../../src/assets/images/main-image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .content-menu-list {
    justify-content: center;
    flex-wrap: wrap;
  }

  .content-menu-text {
    margin-right: 10px;
  }

  .entry-btn {
    margin-bottom: 50px;
  }
}
