/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

// img {
//   max-width: 100%;
//   height: auto;
// }

a {
  text-decoration: none;
}
